body {
  background-color: #02191d;
  width: auto;
}

.App {
  justify-content: center;
  background-color: #02191d;
  margin: auto;
  width: 80%;
  align-items: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 2%;
  justify-content:start;
  margin-top: 2%;
}


.App-header {
 
  min-height: 15vh;
  margin-top: 5%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}




